.tag-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.2rem;
  padding: 0.3rem 0.6rem;
  font-size: 0.8rem;
  font-weight: 600;
  border: 0.1rem solid rgb(var(--sub-color));
  border-radius: 0.3rem;
  cursor: pointer;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: rgba(var(--sub-color), 0.3);
    }
  }
}

.tag-box-img {
  width: 1rem;
  height: 1rem;
}
