@mixin bg($color) {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: rgba($color, 0.3);
  filter: blur(4px);
}

@mixin menu-button() {
  position: absolute;
  top: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  font-size: 1.3rem;
  border-radius: 100vh;
  background-color: rgb(var(--pale-gray));
  cursor: pointer;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: rgb(var(--pale-gray-2));
    }
  }
}

.modal-container {
  width: 100%;
  max-height: 95%;
  position: fixed;
  top: auto;
  left: 0;
  bottom: 0;
  transform: none;
  -webkit-transform: none;
  z-index: 510;
  border-radius: 1rem 1rem 0 0;
  background-color: rgb(var(--white));
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  @media screen and (min-width: 481px) {
    width: 450px;
    top: 50%;
    left: 50%;
    bottom: auto;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    border-radius: 1rem;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.modal-form {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.7rem;
  padding: 1.2rem;
  overflow: auto;
  position: relative;
}

.bg-pink {
  @include bg(var(--main-color));
}

.bg-main {
  @include bg(var(--main-color));
}

.close-button {
  @include menu-button();
  right: 0.8rem;
}

.modal-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.2rem;
}

.modal-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.2rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.modal-title-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.modal-description {
  font-size: 0.8rem;
  font-weight: 500;
  color: rgb(var(--pale-text-color));
}
