@mixin themeIcon() {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  border-radius: 100vh;
  font-size: 1rem;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100vh;
  padding: 0.15rem;
  border: 1px solid rgba(var(--text-color), 0.5);
}

.theme-icon {
  @include themeIcon();
  opacity: 0.6;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}

.theme-icon-focus {
  @include themeIcon();
  background-color: rgba(var(--text-color), 0.1);
}
