:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  // color
  --main-color: 54, 217, 191;
  --sub-color: 0, 175, 204;

  --white: 255, 255, 255;
  --black: 0, 0, 0;

  --main-color-hover: 34, 197, 171;

  --pale-gray: 242, 242, 242;
  --pale-gray-2: 220, 220, 220;

  --dark-gray: 115, 76, 86;

  --pre-code-bg: 40, 42, 54;
  --code-bg: 240, 240, 240;

  --yellow: 255, 204, 51;

  --red: 255, 102, 102;
  --red-hover: 230, 80, 80;

  --text-color: 90, 90, 90;
  --strong-text-color: 0, 0, 0;
  --pale-text-color: 128, 128, 128;
  --shadow-color: 0, 0, 0;
  --background-color: 255, 255, 255;
  --pale-background-color: 242, 242, 242;
  --pale-colored-background-color: 215, 247, 242;

  --drop-shadow: 0 2px 4px rgba(var(--text-color), 0.1),
    0 4px 8px rgba(var(--text-color), 0.1);
  --drop-shadow-pink: 0 2px 4px rgba(var(--main-color), 0.1),
    0 4px 8px rgba(var(--main-color), 0.1);
  // gradation
  --main-gradient: linear-gradient(
    135deg,
    rgb(var(--main-color)) 0%,
    rgb(var(--sub-color)) 100%
  );
  // width, height
  --screen-min-width: 901px;
  --screen-width: 880px;
  --prev-toggle-circle-width: 2.5rem;
  --toggle-menu-height: 2.5rem;
  --prev-toggle-padding: 0.2rem;
  --form-min-height: 30rem;
  --form-header-height: 3.1rem;
  --select-year-menu-height: 2rem;

  --user-diary-month-width: 2.5rem;

  // padding
  --form-side-padding: 0.5rem;
  --md-guide-padding: 0.6rem 0.8rem;

  @media screen and (min-width: 751px) {
    --form-side-padding: 2.5rem;
  }
  @media screen and (min-width: 601px) {
    --form-side-padding: 1rem;
  }
}

:root[theme='dark'] {
  --text-color: 0, 0, 0;
}

:root[theme='light'] {
  --text-color: 0, 0, 0;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 1601px) {
  html {
    font-size: 18px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  color: rgb(var(--text-color));
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  object-fit: cover;
}

input {
  font-size: 16px;
  color: rgb(var(--text-color));
  background-color: inherit;
  border: none;
  outline: none;
}

textarea {
  font-size: 16px;
  color: rgb(var(--text-color));
  background-color: inherit;
  border: none;
  outline: none;
}

.md-container {
  width: 100%;
  height: auto;
  min-height: var(--form-min-height);
  line-height: 1.9;
  > :first-child {
    margin-top: 0;
  }
}

.md-container a {
  color: rgb(var(--main-color));
  font-weight: 600;
}

.md-container h1 {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 1.1rem;
  padding-bottom: 0.2em;
  border-bottom: 1px solid rgb(var(--pale-gray));
  font-size: 1.7rem;
}

.md-container h2 {
  width: 100%;
  margin-top: 36px;
  margin-bottom: 18px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(var(--pale-gray));
  text-align: left;
}

.md-container h3 {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 12px;
  text-align: left;
}

.md-container blockquote {
  font-size: 0.9em;
  margin: 1.4rem 0;
  padding: 2px 0 2px 0.7em;
  color: rgb(var(--pale-text-color));
  border-left: 3px solid rgb(var(--pale-gray-2));
}

.md-container pre {
  width: 100%;
  margin: 20px 0;
  padding: 18px;
  border-radius: 12px;
  background-color: rgb(var(--pre-code-bg));
  box-shadow: 0 4px 6px -1px rgba(var(--primary-gray), 0.1);
}

.md-container pre > code {
  color: #ffffff;
  background-color: inherit;
}

.md-container code {
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  background-color: rgb(var(--code-bg));
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

.md-container ul {
  margin-top: 11px;
  margin-bottom: 22px;
  padding-left: 25px;
}

.md-container ol {
  margin-top: 0.6rem;
  margin-bottom: 1.4rem;
  padding-left: 1.7rem;
}

.md-container ol > li {
  margin: 0.4rem 0;
  line-height: 1.7rem;
}

.md-container img {
  width: 100%;
  max-width: 800px;
  margin: 0.6rem 0;
  border-radius: 4px;
}

.md-container hr {
  border-top: 2px solid rgb(var(--pale-gray-2));
  margin: 2.5rem 0;
}

.md-small-container {
  width: 100%;
  height: auto;
  line-height: 1.6;
  // color: rgb(var(--strong-text-color));
  > :first-child {
    margin-top: 0;
  }
}

.md-small-container a {
  color: rgb(var(--main-color));
  font-weight: 600;
}

.md-small-container h1 {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 0.5rem;
  padding-bottom: 0.1em;
  border-bottom: 1px solid rgb(var(--pale-gray));
  font-size: 1.7rem;
}

.md-small-container h2 {
  width: 100%;
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid rgb(var(--pale-gray));
  text-align: left;
}

.md-small-container h3 {
  width: 100%;
  margin-top: 0.6rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.md-small-container blockquote {
  font-size: 0.9em;
  margin: 0.7rem 0;
  padding: 2px 0 2px 0.7em;
  color: rgb(var(--pale-text-color));
  border-left: 3px solid rgb(var(--pale-gray-2));
}

.md-small-container pre {
  width: 100%;
  margin: 1rem 0;
  padding: 18px;
  border-radius: 12px;
  background-color: rgb(var(--pre-code-bg));
  box-shadow: 0 4px 6px -1px rgba(var(--primary-gray), 0.1);
}

.md-small-container pre > code {
  color: #ffffff;
  background-color: inherit;
}

.md-small-container code {
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  background-color: rgb(var(--code-bg));
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

.md-small-container ul {
  margin-top: 11px;
  margin-bottom: 1rem;
  padding-left: 25px;
}

.md-small-container ol {
  margin-top: 0.6rem;
  margin-bottom: 1.4rem;
  padding-left: 1.7rem;
}

.md-small-container ol > li {
  margin: 0.4rem 0;
  line-height: 1.7rem;
}

.md-small-container img {
  width: 100%;
  max-width: 400px;
  margin: 0.6rem 0;
  border-radius: 4px;
}

.md-small-container hr {
  border-top: 2px solid rgb(var(--pale-gray-2));
  margin: 2.5rem 0;
}

.react-calendar-heatmap rect {
  rx: 2px;
  ry: 2px;
}

.react-calendar-heatmap .color-empty {
  fill: rgb(var(--pale-gray));
  &:hover {
    stroke-width: 0px;
    stroke: rgb(var(--pale-gray));
  }
}

.react-calendar-heatmap .color-scale-0 {
  fill: rgba(var(--main-color), 0.4);
  &:hover {
    stroke: none;
    fill: rgba(var(--main-color), 0.6);
    cursor: pointer;
  }
}
.react-calendar-heatmap .color-scale-1 {
  fill: rgba(var(--sub-color), 0.4);
  &:hover {
    stroke: none;
    fill: rgba(var(--sub-color), 0.6);
    cursor: pointer;
  }
}
.react-calendar-heatmap .color-scale-2 {
  fill: rgb(var(--pale-gray-2));
  &:hover {
    stroke: none;
    fill: rgba(var(--pale-gray-2), 0.8);
    cursor: pointer;
  }
}
.react-calendar-heatmap .color-scale-3 {
  fill: rgba(var(--yellow), 0.4);
  &:hover {
    stroke: none;
    fill: rgba(var(--yellow), 0.6);
    cursor: pointer;
  }
}
.react-calendar-heatmap .color-scale-4 {
  fill: rgba(var(--red), 0.4);
  &:hover {
    stroke: none;
    fill: rgba(var(--red), 0.6);
    cursor: pointer;
  }
}
