//login modal
.login-container {
  width: 100%;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1.2rem;
}

.title {
  font-size: 1.3rem;
  font-weight: 600;
  span {
    font-size: 1.3rem;
    color: rgb(var(--main-color));
    padding-right: 0.2rem;
  }
}

.description {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(var(--pale-text-color));
}

.login-btn-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-top: 1.2rem;
}
