@mixin menu() {
  min-width: 3rem;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  word-break: break-all;
  color: rgb(var(--pale-text-color));
  background-color: rgb(var(--background-color));
  box-shadow: var(--drop-shadow);
  border: 1px solid rgba(var(--pale-text-color), 0.2);
  border-radius: 0.2rem;
  span {
    font-size: 0.7rem;
    font-weight: 500;
    color: rgba(var(--pale-text-color), 0.8);
  }
}

.top-menu {
  @include menu();
  bottom: 2.4rem;
}

.left-end-top-menu {
  @include menu();
  bottom: 2.4rem;
  left: -0.6rem;
}

.right-end-top-menu {
  @include menu();
  bottom: 2.4rem;
  left: -0.6rem;
}

.left-menu {
  @include menu();
  right: 2.5rem;
}
