.add-tag-index-container {
  width: 100%;
  padding: 0.4rem 0;
  background-color: rgb(var(--background-color));
  box-shadow: var(--drop-shadow);
  border: 1px solid rgb(var(--pale-pink));
  border-radius: 0.4rem;
}

.add-tag-index-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.3rem;
  padding: 0.3rem;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    background-color: rgba(var(--main-color), 0.3);
  }
}

// tag box

.tag-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  border: 1px solid rgb(var(--sub-color));
  border-radius: 100vh;
}

.tag-box-img {
  width: 1.2rem;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}

.tag-box-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem;
  font-size: 1rem;
  border-radius: 100vh;
  cursor: pointer;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: rgba(var(--red), 0.4);
    }
  }
}
